<h1>Ask a question cowboy!</h1>
<div class="question">
  <form action="/answer" method="GET">
    <label for="question">Ask your question here:</label>
    <input type="text" name='question' value='default'>
    <input type="submit">
  </form>
</div>

